<!-- Wizard tab pane item 4-->
<div class="py-5 py-xl-10">
    <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-8">
            <h3 class="text-primary">Step 4</h3>
            <h5 class="card-title mb-4">Review the following information and submit</h5>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Username:</em></div>
                <div class="col">username</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Name:</em></div>
                <div class="col">Valerie Luna</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Organization Name:</em></div>
                <div class="col">Start Bootstrap</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Location:</em></div>
                <div class="col">San Francisco, CA</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Email Address:</em></div>
                <div class="col">name@example.com</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Phone Number:</em></div>
                <div class="col">555-123-4567</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Birthday:</em></div>
                <div class="col">06/10/1988</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Credit Card Number:</em></div>
                <div class="col">**** **** **** 1111</div>
            </div>
            <div class="row small text-muted">
                <div class="col-sm-3 text-truncate"><em>Credit Card Expiration:</em></div>
                <div class="col">06/2024</div>
            </div>
            <hr class="my-4" />
            <div class="d-flex justify-content-between">
                <button class="btn btn-light" type="button" (click)="goToPreviousStep()">Previous</button>
                <button class="btn btn-primary" type="button">Submit</button>
                <!-- <button class="btn btn-light" type="button">Previous</button>
                <button class="btn btn-primary" type="button">Submit</button> -->
            </div>
        </div>
    </div>
</div>